# ╔══════════════════════════════════════════╗
# ║      DISCORD ECONOMY BOT — CONFIG       ║
# ╚══════════════════════════════════════════╝

# Token bot dari Discord Developer Portal
# https://discord.com/developers/applications
TOKEN=PASTE_YOU_TOKEN_HERE

# Prefix command (default: !)
PREFIX=night

# Owner Discord ID
OWNER_ID=1213365471693246504
