# ╔══════════════════════════════════════════╗
# ║      DISCORD ECONOMY BOT — CONFIG       ║
# ╚══════════════════════════════════════════╝

# Token bot dari Discord Developer Portal
# https://discord.com/developers/applications
TOKEN=your_bot_token_here

# Prefix command (default: !)
PREFIX=night

# Owner Discord ID (untuk referensi)
OWNER_ID=1213365471693246504
