# ╔══════════════════════════════════════════╗
# ║      DISCORD ECONOMY BOT — CONFIG       ║
# ╚══════════════════════════════════════════╝

# Token bot dari Discord Developer Portal
# https://discord.com/developers/applications
TOKEN=MTAxOTk3NDMzMDQyNTI5MDgzMw.Ga5TvT.M1jOzER2hT6SEQTUmOm4Hf145lwz3ENu8UnGew

# Prefix command (default: !)
PREFIX=night

# Owner Discord ID
OWNER_ID=1213365471693246504
